* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    overflow-x: hidden;
}

h3 {
    font-size: 32px;
    color: #25A3D9;
}

.herosection {
    background-image: linear-gradient(30deg, #E82569, #A85399, #25A3D9);
}

header {
    width: 100%;
    height: 100px;
    background: #A85399;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

header .headercontainer {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo-container #logo {
    width: 150px;
}

nav {
    flex: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    float: right;
}

.nav-link {
    color: #ffffff;
    font-size: 18px;
    padding: 4px 12px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links .current {
    border: 2px solid #ffffff;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Hero Section Title */
.herotitle {
    width: 70%;
    max-width: 1500px;
    margin: 0px auto;
    padding-top: 250px;
    padding-bottom: 100px;
    text-align: center;
}

.herotitle h1 {
    position: relative;
    font-size: 96px;
    color: #ffffff;
    text-transform: uppercase;
}

/* Content */
.visualsectiontitle {
    width: 80%;
    max-width: 1500px;
    text-align: center;
    margin: 150px auto 0px;
}

.visualsection {
    width: 80%;
    max-width: 1500px;
    text-align: center;
    display: flex;
    margin: 0px auto 0px;
}

.graphicdesign svg, .webdevelopment svg {
    width: 140px;
}

.graphicdesign h4, .webdevelopment h4 {
    margin: 0 auto;
    font-size: 21px;
}

.graphicdesign p, .webdevelopment p {
    width: 90%;
    margin: 30px auto 20px;
}

.graphicdesign p a, .webdevelopment p a {
    background: #25A3D9;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.graphicdesign p a:hover, .webdevelopment p a:hover {
    background: #E82569;
} 

/* First Design Section */
.firstdesignsection {
    margin: 200px auto 0px;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.firstdesignsection svg {
    width: 50%;
    max-width: 1000px;
    height: auto;
}

.firstdesignsubsection {
    width: 35%;
    margin: 0 auto;
}

/* Second Design Section */
.seconddesignsection {
    margin: 200px auto 0px;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.seconddesignsubsection {
    width: 35%;
    margin: 0 auto;
}

.seconddesignsection svg {
    width: 50%;
    max-width: 1000px;
    height: auto;
}

/* Contact Section */
.contactsection {
    max-width: 1500px;
    width: 100%;
    text-align: center;
    margin: 200px auto 0px;
}

.contactsection h3 {
    width: 80%;
    margin: auto;
}

.contactsection p {
    width: 80%;
    margin: 30px auto;
}

.contactsection p a {
    background: #25A3D9;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.contactsection p a:hover {
    background: #E82569;
}

/* Footer Section */
footer {
    width: 100%;
    height: 150px;
    background: #A85399;
    display: flex;
    margin: 100px auto 0px;
    align-items: center;
    color: #ffffff;
}

.footercontainer {
    width: 80%;
    max-width: 1500px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

footer .copyrighttitle {
    display: flex;
    
}

footer .copyrighttitle p {
    font-weight: bold;
}

.footerlinks {
    display: flex;
    float: right;
}

.footerlinks li {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.footerlink i {
    color: #ffffff;
    transition: 0.3s ease all;
}

.footerlink i:hover {
    color: #25A3D9;
}





/* SVG Blobs */

/* Left Top Corner */
.svg1 svg {
    position: absolute;
    width: 500px;
    top: -150px;
    height: 800px;
}

/* Big Left Blob */
.svg2 svg {
    position: absolute;
    height: 900px;
    left: -120px;
}

/* Big Right Blob */
.svg3 svg {
    position: absolute;
    width: 700px;
    right: 0px;
    top: -300px;
}

/* Center Abnormal Blob */
.svg4 svg {
    position: absolute;
    width: 400px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom Right Corner */
.svg5 svg {
    opacity: .8;
    position: absolute;
    width: 300px;
    right: 50px;
    top: 30px;
}

/* Left Side Blobs */
.svg6 svg {
    opacity: .8;
    position: absolute;
    width: 500px;
    left: 30px;
    top: -50px;
}

/* Center Surrounding Blobs */
.svg7 svg {
    opacity: .6;
    position: absolute;
    width: 700px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg8 svg {
    opacity: .8;
    position: absolute;
    width: 400px;
    top: 100px;
    right: 350px;
}





/* SVG Media Queries */
@media only screen and (max-width: 1042px) {
    .svg5 svg {
        top: 200px;
    }
    .svg6 svg {
        top: 100px;
    }
    .svg4 svg {
        display: none;
    }
    .svg7 svg {
        display: none;
    }
    
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    /* Navigation */
    .navigation {
        position: fixed;
        right: 0;
        height: 84vh;
        top: 0px;
        border-radius: 500px 0 0 500px;
        display: flex;
        background: #A85399;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 95%;
        opacity: 0;
        justify-content: space-evenly;
    }
    .nav-link {
        margin-left: 0px;
    }
    header {
        background-image: none;
        position: relative;
    }
    /* Burger */
    .burger {
        display: block;
        position: fixed;
        align-items: center;
        right: 30px;
        top: 20px;
        padding: 15px;
        border-radius: 100%;
        background: #A85399;
        cursor: pointer;
    }
    /* Header Title */
    .herotitle {
        margin: 0 auto;
        padding-top: 0px;
        width: 50%;
    }
    .herotitle h1 {
        margin-top: 70px;
        font-size: 64px;
    }
    /* Visual Title and Icons */
    .visualsectiontitle {
        margin-top: 100px;
    }
    .visualsectiontitle h3 {
        font-size: 24px;
    }
    .visualsection {
        margin-top: 50px;
        flex-flow: wrap;
    }
    .graphicdesign h4, .webdevelopment h4 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    ul li {
        font-size: 14px;
    }
    .webdevelopment {
        margin-top: 50px;
    }
    /* Side Image & Subsection */
        /* First */
    .firstdesignsection {
        margin-top: 100px;
    }
    .firstdesignsection svg {
        width: 90%;
    }
    .firstdesignsubsection {
        width: 80%;
        margin-top: 30px;
    }

    .firstdesignsubsection h3 {
        font-size: 24px;
    }
        /* Second */
    .seconddesignsection {
        margin-top: 100px;
        flex-flow: wrap-reverse;
    }
    .seconddesignsection svg {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
    }
    .seconddesignsubsection {
        text-align: right;
        width: 80%;
        margin-top: 30px;
    }
    .seconddesignsubsection ul {
        direction: rtl;
    }
    /* Contact Section */
    .contactsection {
        margin-top: 100px;
    }
    .contactsection h3 {
        font-size: 24px;
    }


    /* Footer Section */
    footer {
        height: auto;
    }
    .footercontainer {
        display: flex;
        flex-flow: column;
    }
    .footercontainer .copyrighttitle {
        margin-top: 20px;
    }
    .footercontainer .copyrighttitle p {
        width: 100%;
        text-align: center;
    }
    .footerlinks {
        width: 150px;
        display: flex;
        float: none;
        justify-content: space-between;
        margin: 10px auto 20px;
    }
    /* SVG Section */
    .svg1 svg {
        width: 100%;
    }
    .svg2 svg {
        display: none;
    }
    .svg3 svg {
        display: none;
    }
    .svg5 svg {
        width: 30%;
        top: 200px;
        right: 0px;
        height: 400px;
    }
    .svg6 svg {
        top: -150px;
        width: 50%;
    }
    .svg8 svg {
        display: none;
    }
}

@media only screen and (max-width: 412px) {
    .herotitle h1 {
        font-size: 44px;
    }
}



.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}